<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body id="body">
<header>
    <nav>
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <div class="links">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a>
            <a href="#">Link 6</a>
        </div>
        <div class="buttons">
            <button id="login">Sign in</button>
            <button id="register">Register</button>
            <button id="toggle-mode" onclick="changeTheme()">Modo Oscuro</button>
        </div>
    </nav>
</header>
<main>
<div class="banner">
    <div>
    <h1>Título</h1>
    <div class="button-group">
        <button>Label</button>
        <button>Label</button>
        <button>Label</button>
        <button>Label</button>
    </div>
    <div class="search">
        <button>Label</button>
        <input type="text" placeholder="Buscar...">
        <button>Buscar</button>
    </div>
</div>
</div>
<div class="container">
    <div class="content-section">
        <h2>Encabezado</h2>
        <p>Cuerpo del texto para tu artículo o publicación. Aquí puedes poner información relevante.</p>
    </div>
    
    <div class="content-section">
        <h2>Encabezado</h2>
        <p>Cuerpo del texto para tu artículo o publicación. Aquí puedes poner información relevante.</p>
    </div>
</div>
</main>
<footer>
    <div class="contact-container">
        <div class="contact-form">
            <h2>Contact</h2>
            <input type="email" placeholder="Email" />
            <textarea placeholder="Message"></textarea>
            <button>Submit</button>
        </div>
        <div class="resources">
            <h3>Resources</h3>
            <ul>
                <li>Blog</li>
                <li>Best practices</li>
                <li>Colors</li>
                <li>Color wheel</li>
                <li>Support</li>
                <li>Developers</li>
                <li>Resource library</li>
            </ul>
        </div>
        <div class="explore">
            <h3>Explore</h3>
            <ul>
                <li>Design</li>
                <li>Prototyping</li>
                <li>Development features</li>
                <li>Design systems</li>
                <li>Collaboration features</li>
                <li>Design process</li>
                <li>FigJam</li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Redes Sociales</h3>
            <a href=""><i></i></a>
            <a href=""><i></i></a>
            <a href=""><i></i></a>
        </div>
    </div>

</footer>

<script src="/javascripts/home.js"></script>
</script>   
</body>
</html>